In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('/home/dheeraj/my_projects/my_project_env/practice/EDA_and_prediction/sku.csv')
df.head()

,SKU,01/08/2019,02/08/2019,03/08/2019,04/08/2019,05/08/2019,06/08/2019,07/08/2019,08/08/2019,09/08/2019,...,22/07/2020,23/07/2020,24/07/2020,25/07/2020,26/07/2020,27/07/2020,28/07/2020,29/07/2020,30/07/2020,31/07/2020
0,2527,1551,1613,1613,1532,1517,1441,1383,1424,1381,...,1929,1948,1929,1987,2027,1926,1926,1849,1904,1828
1,3042,2240,2330,2423,2350,2374,2398,2278,2210,2232,...,7096,7025,6955,6746,6881,6606,6804,6872,6872,7078
2,3086,891,909,936,889,880,906,870,879,844,...,829,829,812,788,788,772,811,803,763,763
3,3155,1628,1628,1563,1532,1563,1563,1532,1593,1513,...,1719,1805,1895,1895,1990,2030,2050,2132,2111,2027
4,3166,369,354,343,340,330,337,350,343,340,...,335,328,325,319,316,319,329,336,349,352

In [110]:
df.iloc[2:3, 1:32]

,01/08/2019,02/08/2019,03/08/2019,04/08/2019,05/08/2019,06/08/2019,07/08/2019,08/08/2019,09/08/2019,10/08/2019,...,22/08/2019,23/08/2019,24/08/2019,25/08/2019,26/08/2019,27/08/2019,28/08/2019,29/08/2019,30/08/2019,31/08/2019
2,891,909,936,889,880,906,870,879,844,852,...,892,901,883,865,865,874,900,927,890,854

In [60]:
aug = df.iloc[0:, 1:32].mean().mean()
aug

2166.671542379522

In [61]:
sep = df.iloc[0:, 32:62].mean().mean()
sep

2335.942105263158

In [63]:
octu = df.iloc[0:, 62:93].mean().mean()
octu

2389.984066866919

In [64]:
nov = df.iloc[0:, 93:123].mean().mean()
nov

2422.9439946018892

In [65]:
dec = df.iloc[0:, 123:154].mean().mean()
dec

2551.4261460101866

In [66]:
jan = df.iloc[0:, 154:185].mean().mean()
jan

2503.6044142614605

In [67]:
feb = df.iloc[0:, 185:214].mean().mean()
feb

2509.208013402206

In [68]:
march = df.iloc[0:, 214:245].mean().mean()
march

2642.623742980279

In [69]:
april= df.iloc[0:, 245:275].mean().mean()
april

2578.066396761133

In [70]:
may= df.iloc[0:, 275:306].mean().mean()
may

2423.3964999347

In [71]:
june= df.iloc[0:, 306:336].mean().mean()
june

2470.1121457489876

In [72]:
july= df.iloc[0:, 336:367].mean().mean()
july

2454.717382786993

In [86]:
    l.append(df.iloc[index, 1:32])
    l.append(df.iloc[index, 32:62])
    l.append(df.iloc[index, 62:93])
    l.append(df.iloc[index, 93:123])
    
    l.append(df.iloc[index, 123::32])
    l.append(df.iloc[index, 1:32])
    l.append(df.iloc[index, 1:32])
    l.append(df.iloc[index, 1:32])
    l.append(df.iloc[index, 1:32])
    l.append(df.iloc[index, 1:32])
    l.append(df.iloc[index, 1:32])
    l.append(df.iloc[index, 1:32])

NameError: name 'l' is not defined

In [153]:
month = pd.read_csv('/home/dheeraj/my_projects/my_project_env/practice/EDA_and_prediction/monthly.csv')
month

,2527,3042,3086,3155,3166,8272,9311,13159,13160,14011,...,PPAM05126,PPAM05156,PPAM06156,PPAM07156,PPAM08156,PPAM11156,PSTM01257,PSTM01457,WIM5011B,WIM51234
0,1345.225806,2240.354839,884.258065,1498.161290,345.806452,1018.032258,614.354839,58.774194,47.903226,6.0,...,26.516129,29.838710,15.419355,77.258065,101.645161,2.0,22.000000,10.419355,93.096774,2.0
1,1229.333333,2080.500000,1056.233333,1397.400000,343.533333,1195.900000,593.233333,66.333333,58.433333,6.0,...,27.133333,40.366667,19.333333,75.533333,100.700000,2.0,25.733333,10.166667,81.566667,2.0
2,986.516129,2292.967742,1068.451613,1465.193548,386.000000,1132.548387,477.322581,59.903226,65.967742,6.0,...,31.322581,55.645161,20.032258,80.322581,111.322581,2.0,25.129032,11.516129,63.032258,2.0
3,730.533333,2774.866667,964.566667,1845.700000,436.466667,1180.233333,383.166667,61.766667,48.166667,6.0,...,39.333333,54.966667,19.100000,92.300000,113.733333,2.0,23.833333,10.266667,67.833333,2.0
4,767.870968,2835.451613,1078.838710,2330.741935,446.709677,726.967742,290.387097,66.161290,41.032258,6.0,...,37.677419,52.580645,17.451613,107.935484,90.709677,2.0,23.064516,10.290323,59.838710,2.0
5,704.935484,2566.000000,1150.645161,2426.387097,451.290323,524.677419,275.225806,74.096774,40.258065,6.0,...,47.129032,43.193548,12.516129,105.838710,112.870968,2.0,23.935484,10.032258,50.548387,2.0
6,798.965517,2692.931034,1104.448276,2111.551724,362.655172,514.551724,248.034483,69.000000,39.793103,6.0,...,39.172414,47.379310,12.172414,89.689655,139.310345,2.0,27.689655,10.172414,49.310345,2.0
7,998.580645,2987.290323,994.419355,2330.354839,309.258065,588.516129,289.387097,63.451613,30.612903,6.0,...,28.612903,62.193548,10.645161,100.225806,189.483871,2.0,23.387097,10.322581,47.032258,2.0
8,1273.400000,4031.566667,835.400000,2251.433333,403.666667,801.400000,303.833333,60.000000,28.166667,6.0,...,17.933333,54.100000,10.833333,99.666667,242.166667,2.0,23.466667,11.633333,32.800000,2.0
9,1430.548387,4365.870968,717.129032,1855.419355,317.354839,1066.741935,346.483871,46.677419,34.258065,6.0,...,11.548387,42.967742,13.193548,123.774194,260.483871,2.0,25.709677,12.580645,29.161290,2.0
10,1644.700000,5249.400000,806.133333,1782.666667,302.533333,763.166667,278.033333,36.233333,42.033333,6.0,...,10.233333,31.433333,12.100000,123.600000,213.433333,2.0,26.533333,11.400000,25.533333,2.0
11,1800.838710,6324.580645,843.645161,1750.096774,328.451613,664.322581,220.451613,37.096774,37.677419,6.0,...,10.225806,31.451613,10.516129,82.774194,162.032258,2.0,22.516129,14.322581,26.322581,2.0

In [154]:
# out = [3,3,3,3,100]
# out.append(month.iloc[1])
out = month.iloc[0,:].to_list()

In [155]:
out

[1345.225806451613,
 2240.3548387096776,
 884.258064516129,
 1498.161290322581,
 345.80645161290323,
 1018.032258064516,
 614.3548387096773,
 58.774193548387096,
 47.903225806451616,
 6.0,
 12.161290322580646,
 19.225806451612907,
 15.32258064516129,
 41.12903225806452,
 33208.16129032258,
 2796.709677419354,
 1483.9032258064515,
 4227.967741935484,
 5255.225806451614,
 2511.935483870968,
 761.6451612903226,
 23619.064516129038,
 757.3225806451613,
 5629.322580645161,
 75.09677419354837,
 1642.0,
 1545.0,
 867.5806451612905,
 3734.709677419354,
 1093.6774193548388,
 1250.8387096774193,
 78.64516129032258,
 1871.2580645161293,
 4.0,
 9343.064516129032,
 559.0645161290323,
 5755.677419354839,
 520.4516129032259,
 60.483870967741936,
 325.45161290322585,
 9.0,
 13.290322580645164,
 6.0,
 12.741935483870966,
 8.0,
 18158.70967741936,
 1464.516129032258,
 25064.0,
 2958.5806451612902,
 2572.0967741935488,
 1540.3870967741934,
 24930.0,
 2172.322580645161,
 17997.354838709678,
 49.29032258064516,
 6632.258064516129,
 6094.4838709677415,
 965.0645161290324,
 1285.1290322580646,
 626.7741935483872,
 2762.0,
 4725.83870967742,
 4505.322580645161,
 8360.064516129032,
 4463.709677419355,
 4918.548387096775,
 5625.935483870968,
 2220.903225806452,
 1914.8709677419354,
 15169.032258064517,
 108.90322580645163,
 1844.0967741935485,
 3955.83870967742,
 6903.322580645161,
 89585.70967741935,
 3619.4838709677415,
 10851.0,
 1079.8064516129034,
 26285.870967741932,
 10022.90322580645,
 6044.225806451613,
 18227.90322580645,
 2189.7096774193546,
 1837.0,
 2892.8064516129034,
 3535.935483870968,
 1043.774193548387,
 2645.1612903225805,
 57.903225806451616,
 367.0322580645162,
 1190.967741935484,
 252.5161290322581,
 325.1935483870968,
 213.4838709677419,
 319.80645161290323,
 151.0,
 575.258064516129,
 748.7096774193549,
 216.90322580645162,
 111.58064516129032,
 231.32258064516128,
 47.612903225806456,
 10.03225806451613,
 2.0,
 516.1612903225806,
 101.32258064516131,
 126.77419354838709,
 9.0,
 4.0,
 3.0,
 133.4516129032258,
 32.774193548387096,
 48.387096774193544,
 13.193548387096774,
 8.0,
 36.38709677419355,
 33.61290322580645,
 77.06451612903227,
 2.0,
 6.0,
 1084.2903225806454,
 519.516129032258,
 21.935483870967737,
 78.45161290322581,
 62.967741935483865,
 56.032258064516135,
 190.90322580645162,
 405.77419354838713,
 49.32258064516129,
 5.0,
 121.41935483870968,
 42.32258064516129,
 1.0,
 2.0,
 18.451612903225808,
 6.0,
 1.0,
 1.0,
 3.0,
 5.0,
 26.451612903225808,
 10.516129032258064,
 2.0,
 10.35483870967742,
 2.0,
 82.48387096774194,
 1057.516129032258,
 3726.193548387097,
 4494.0,
 1902.4193548387095,
 1340.548387096774,
 1913.8709677419354,
 226.54838709677418,
 76.51612903225806,
 836.4193548387095,
 59.67741935483871,
 23.41935483870968,
 2.0,
 16.06451612903226,
 22.225806451612907,
 16.258064516129032,
 13.870967741935484,
 60.41935483870968,
 46.354838709677416,
 49.806451612903224,
 10.93548387096774,
 5.0,
 3.0,
 20.548387096774192,
 29.064516129032263,
 2.0,
 54.903225806451616,
 105.77419354838709,
 2.0,
 147.77419354838707,
 96.22580645161291,
 125.32258064516131,
 193.5161290322581,
 137.58064516129033,
 47.161290322580655,
 11.419354838709678,
 1182.967741935484,
 9.0,
 112.77419354838709,
 49.516129032258064,
 48.612903225806456,
 16.0,
 55.774193548387096,
 32.90322580645161,
 60.0,
 27.87096774193548,
 13.67741935483871,
 14.258064516129034,
 8.0,
 3.0,
 6.0,
 3.0,
 49.58064516129032,
 971.032258064516,
 2353.5806451612907,
 1330.548387096774,
 3271.7419354838707,
 1324.8064516129034,
 913.3870967741935,
 12.096774193548386,
 552.483870967742,
 9.0,
 10.0,
 8.0,
 14.709677419354836,
 4.0,
 5.0,
 2.0,
 228.29032258064515,
 113.83870967741936,
 184.03225806451616,
 38.25806451612903,
 182.67741935483872,
 186.5161290322581,
 130.48387096774192,
 127.93548387096773,
 61.58064516129032,
 25.064516129032263,
 55.74193548387096,
 27.41935483870968,
 16.387096774193548,
 144.19354838709674,
 1015.2903225806452,
 242.74193548387098,
 473.0322580645162,
 1382.774193548387,
 7544.870967741936,
 5462.8064516129025,
 813.2258064516128,
 800.3548387096774,
 350.09677419354836,
 22.096774193548388,
 26.516129032258068,
 29.838709677419356,
 15.419354838709678,
 77.25806451612904,
 101.64516129032258,
 2.0,
 22.0,
 10.419354838709678,
 93.09677419354837,
 2.0]

In [156]:
outliers=[]
def detect_outlier(data_1):
    
    threshold=3
    mean_1 = np.mean(data_1)
    std_1 =np.std(data_1)
    
    
    for y in data_1:
        z_score= (y - mean_1)/std_1 
        if np.abs(z_score) > threshold:
            outliers.append(y)
    return outliers

In [157]:
outlier_datapoints = detect_outlier(out)
print(outlier_datapoints)

[33208.16129032258, 25064.0, 24930.0, 89585.70967741935, 26285.870967741932]

In [199]:
def getIndexes(dfObj, value):
    ''' Get index positions of value in dataframe i.e. dfObj.'''
    listOfPos = list()
    # Get bool dataframe with True at positions where the given value exists
    result = dfObj.isin([value])
    # Get list of columns that contains the value
    seriesObj = result.any()
    columnNames = list(seriesObj[seriesObj == True].index)
    listOfPos.append(columnNames)
    # Iterate over list of columns and fetch the rows indexes where value exists
#     for col in columnNames:
#         rows = list(result[col][result[col] == True].index)
#         for row in rows:
#             listOfPos.append((row, col))
    # Return a list of tuples indicating the positions of value in the dataframe
    return listOfPos

In [200]:
# # # out.item()
# for i in range(11):
#     print(i)

In [201]:

for i in outlier_datapoints:
    listOfPositions = getIndexes(month, i)
# print('Index positions of 81 in Dataframe : ')
    for i in range(len(listOfPositions)):
        print('Position ', i, ' (Row index , Column Name) : ', listOfPositions[i])

Position  0  (Row index , Column Name) :  ['38320']
Position  0  (Row index , Column Name) :  ['65001']
Position  0  (Row index , Column Name) :  ['65202']

In [206]:

for l in range(12):
    out1 = month.iloc[l,:].to_list()

    ########################### Finding outlier
    outliers=[]
    def detect_outlier(data_1):
    
        threshold=3
        mean_1 = np.mean(data_1)
        std_1 =np.std(data_1)
    
    
        for y in data_1:
            z_score= (y - mean_1)/std_1 
            if np.abs(z_score) > threshold:
                outliers.append(y)
        return outliers

    outlier_datapoints = detect_outlier(out1)
    print(outlier_datapoints)

    ############################ Finding index

    def getIndexes(dfObj, value):
        listOfPos = list()
        result = dfObj.isin([value])
        seriesObj = result.any()
        columnNames = list(seriesObj[seriesObj == True].index)
        listOfPos.append(columnNames)
        return listOfPos


    for i in outlier_datapoints:
        listOfPositions = getIndexes(month, i)
        for i in range(len(listOfPositions)):
            print(listOfPositions[i])

[33208.16129032258, 25064.0, 24930.0, 89585.70967741935, 26285.870967741932]
['14119']
['38194']
['38320']
['65001']
['65202']
[40450.13333333333, 112037.73333333334, 31765.4]
['14119']
['65001']
['65202']
[41428.48387096774, 31085.516129032258, 127952.93548387096, 36106.354838709674]
['14119']
['38194']
['65001']
['65202']
[33638.73333333333, 126434.3, 49790.16666666666]
['14119']
['65001']
['65202']
[151083.2258064516, 38985.096774193546]
['65001']
['65202']
[155178.19354838712]
['65001']
[173176.7931034483]
['65001']
[48968.548387096766, 194893.64516129036]
['38320']
['65001']
[64069.43333333333, 156093.96666666667, 37755.333333333336]
['38320']
['65001']
['65202']
[32950.096774193546, 69276.3870967742, 122446.19354838708, 42331.6129032258]
['14119']
['38320']
['65001']
['65202']
[35086.4, 65111.63333333332, 118284.06666666668, 54040.53333333333]
['14119']
['38320']
['65001']
['65202']
[63582.45161290322, 116779.41935483873, 57243.3870967742]
['38320']
['65001']
['65202']